#container{
    display: flex;
    flex-direction: column;
}

* {
    box-sizing: border-box;
  }

  body {
    font-family: "Open Sans";
    font-size: 20px;
  }

  nav{
      background: none;
      float: right;
  }
  
  nav p{
      font-size: 15px;
      margin-right: 10px;
      margin-top: 10px;
      color: white;
  }

  nav a{
    text-decoration: none;
    color: white;
    font-size: 13px;
  }

  .header h1{
    border-right: .15em solid white;
    font-size: 50px;
    white-space: nowrap;
    overflow: hidden;
    font-family: 'Lato', sans-serif;
  }

  .header h1:nth-child(1){
    width: 7.3em; 
    -webkit-animation: type 2s steps(40, end); 
    animation: type 2s steps(40, end);
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }

  .header h1:nth-child(2){
    width: 11.5em;
    opacity: 0;
    -webkit-animation: type2 2s steps(40, end);
    animation: type2 2s steps(40, end);
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }

  @keyframes type {
    0% {
      width: 0;
    }
    99.9% {
      border-right: .15em solid white;
    }
    100% {
      border: none;
    }
  }
  
  @-webkit-keyframes type {
    0% {
      width: 0;
    }
    99.9% {
      border-right: .15em solid white;
    }
    100% {
      border: none;
    }
  }
  
  @keyframes type2 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    99.9% {
      border-right: .15em solid white;
    }
    100% {
      opacity: 1;
      border: none;
    }
  }
  
  @-webkit-keyframes type2 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    99.9% {
      border-right: .15em solid white;
    }
    100% {
      opacity: 1;
      border: none;
    }
  }

  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
  @-webkit-keyframes blink {
    50% {
      border-color: tranparent;
    }
  }

  .bio p{
      font-size: 15px;
      line-height: 1.6;
      width: 250px;
  }

  .clear {
      clear: both;
  }

  header{
    background: linear-gradient(black, #585858);
    color: white; 
    font-size: 20px;
    padding: 50px;
    height: 550px;
  }

  section{
      height: 350px;
      padding-top: 30px;
      text-align: center;
      border-top: 1px solid grey;
  }

  footer, section:nth-child(even) {
    background-color: #ddd;
  }

  footer{
      padding: 50px;
      text-align: right;
      border-top: 1px solid grey;
  }

  .section1{
      background: url('./images/quizApp.jpg') no-repeat;
      filter: grayscale(100%);
      background-size: cover;
      opacity: 0.4;
  }